/* CSS declarations go here */

#container {
  height: 400px;
  width: 400px;
  background: #333;
  
  position: fixed; 
  left: 10%; 
  top: 25%; 
}


#wall {
  position: fixed;
  top: 200px;
  width: 400px;
  right: 200px;
  display: inline-block;
}
.copy {
  height: 100px;
  width: 100px;
  background: #333;

  float: left; 
}

#currentRadius {
  border-radius: 50%; 
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); 
  border: 2px solid #333;
}